* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.App {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 30px;
}
.item-wrap {
	flex: 1;
	display: flex;
	flex-direction: column;
}
